# basic artifacts
__pycache__
*.zip
*.dmp
*.bin
*.elf
*.gba
*.sav
*.ups
*.lyn.event
*.o
*.sym
*.s
*.asm
*.hi
*.bsdiff*
!src/progressiveCaps/unitListHook.s
!src/fillAIDangerMap/FillAIDangerMap.s
!vendor/src/ExpandedModularSave/Src/*.lyn.event
!vendor/src/ExpandedModularSave/Src/*.s
!vendor/src/HpBars/asm/*
!vendor/src/HpBars/GameOptions/*
!vendor/src/HpBars/bin/*
!vendor/src/DangerZone/asm/*
!vendor/src/LToggle/asm/*
!vendor/src/BattleStatsWithAnimsOff/*
!vendor/CLib/reference/*
!vendor/src/ChapterNames/fe8_chapter_names.*
!vendor/src/ChapterNames/chartable.dmp
!vendor/src/advancedMusicInstaller/*
!vendor/bin/Sappy2EA/*
!data/music/tracks/*.s
data/music/tracks/*.event
data/text/.TextEntries
*.table.event
.cache
obj

# tools
vendor/bin/lyn/lyn
vendor/bin/lyn/CMakeFiles
vendor/bin/lyn/CMakeCache.txt
vendor/bin/lyn/Makefile
vendor/bin/lyn/cmake_install.cmake
vendor/bin/gendefs/gendefs
vendor/bin/Png2Dmp/dist-newstyle
vendor/bin/Png2Dmp/Png2Dmp
_build

# misc
Template.Rules.mk
initskill.py
